<html>
<head>
    <title>YourAnimesOnline - Entrar</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="loginbox">
        <h2>Entrar</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div>
                <h4 style="margin-button: 4px; color: red; text-align: center;">Senha ou usuário incorretos.</h4>
            </div>
            {% endif %}
            <p>Usuário:</p>
            {{ form.username }}

            <p>Senha:</p>
            {{ form.password }}
            <input type="submit" class="button" name="submit" value="Entrar">
        </form>
        <div style="float: left;">
            <a href="#">Esqueceu sua senha?</a>
        </div>
        <div style="float: right;">
            <a href="{% url 'signin' %}">Criar conta!</a>
        </div>
    </div>

</body>
</html>