<html>
<head>
    <title>YourAnimesOnline - Entrar</title>
    <link rel="stylesheet" href="/static/css/login.css">
<body>
    <div class="loginbox">
        <h2>Entrar</h2>
        <br>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <label>Usuário:</label>
            {{ form.username }}

            <label>Senha:</label>
            {{ form.password }}
            <input type="submit" class="button" value="Entrar">
        </form>
        <div style="float: left;">
            <a href="{% url 'signin' %}">Esqueceu sua senha?</a>
        </div>
        <div style="float: right;">
            <a href="#">Criar conta!</a>
        </div>
    </div>

</body>
</head>
</html>