<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Anime Online - Animes</title>
    <link rel="stylesheet" type="text/css" href="/static/css/animes.css">
</head>

<body>
  <header>
    <div class="center">
      <div class="header-left">
        <a href="{% url 'index' %}" style="text-decoration: none; font-size: 20px;">YourAnimesOnline</a>
        <div class="menu-header">
          <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'animes' %}">Animes</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Mais recentes</a></li>
            <li><a href="#">Minha lista</a></li>
          </ul>
        </div>
      </div>

      <div class="header-right">
        <div class="search">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  
    <div class="text">
        <h1>Animes</h1>
    </div>
    <div class="container">
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
        <div class="box" style="background: url('https://sm.ign.com/ign_br/screenshot/default/kimi-no-na-wa-your-name-cinema-brasileiro_h54c.jpg')"></div>
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
  <script src="/static/js/index.js"></script>
</body>
</html>