<html>

    <head>
      <title>Your Animes Online - {{ episodio.titulo }}</title>
        <script src="https://cdn.plyr.io/2.0.15/plyr.js"></script>
        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.15/plyr.css">
    </head>

    <style>
        body{
            margin: 0;
        }
        video{
            height: 100vh !important;
        }
    </style>
    
    <body>

        <!-- Video Youtube -->
        <!--
        <div id='plyr-mediaplayer' data-type="youtube" data-video-id="H1Dvg2MxQn8"></div>
        -->

        <!-- Video local-->
        <!--
        <video id="plyr-mediaplayer" poster="PosterPlayer.jpg" controls>
           <source src="meuVideo.mp4" type="video/mp4">
        </video>
        -->

        <!-- Video link -->
        <video id="plyr-mediaplayer" poster="PosterPlayer.jpg" controls>
            <source src="meuVideo.mp4" type="video/mp4">
            <source src="https://wcsgdq.bn.files.1drv.com/y4m6Du8u-NftAIbz-KMx3trZv203V1OxI8g9_a2A2FzcoOeJVIUPQOVV8HCSxOxbbNg42AdRkFbRjs7iCd6Vx1gxC24Lg0ekdtnvrvft9a4m49gcIzPhBSgU7j3JEd9CvXA3a86Rpie2zx3ZOCx8-b4vAmiCTkq5A4Z7fVUi_Z8fpyvIiiM9BSlYJ5uGwZ7ls9EOLghSB-2v2De4l1IcAi9vn53ITnsKo6DDO1H_Y6zuWI/3.mp4?psid=1?" type="video/mp4"/>
        </video>
       
        <script>
            plyr.setup("#plyr-mediaplayer");
        </script>

    </body>