<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
  <body>
      <div class="loginbox">
          <h2>Criar Conta:</h2>
          <br>
          <form action="{% url 'signin' %}" method="POST">
              {% csrf_token %}
              {% if form.errors %}
              <p>Voce está digitando algo errado!  </p>
              {% endif %}
              <p>Nome:</p>
              {{ form.username }}
              <p>Senha:</p>
              {{ form.password }}
              <p>Email:</p>
              {{ form.email }} 
              <div>
                <input type="submit" class="button" value="Criar">
              </div>
              <br>
              <a href="{% url 'login' %}">Já tem uma conta?</a>
          </form>
      </div>
  
  </body>