* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

body {
  background: #141414;
}

.center {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear {
  clear: both;
}


/* Header */

header {
  background: black;
  padding: 12px 0;
}

.header-left {
  top: 10px;
  float: left;
}

.header-left a {
    vertical-align: 30px;
}

.menu-header {
  position: relative;
  top: 10px;
  display: inline-block;
  margin-left: 30px;
}

.menu-header li {
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
}

.menu-header a {
  color: white;
  text-decoration: none;
}

.menu-header a:hover {
    color: #dad5d5;
}

/* header right */

.header-right {
  margin-top: 10px;
  float: right;
}

.search {
  display: inline-block;
}

.search i {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* flexbox */

.text h1 {
    position: relative;
    margin-left: 3%;
    margin-top: 2%;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    padding: 50px;
    height: 60px;
    flex-wrap: wrap;
    align-content: space-between; 
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: white;
    z-index: 1;
    transition: all 0.7s;
    margin: 2px;
    background-size: 100% 100% !important;
}
.box:hover {
    flex: 2;
    height: 240px;
    z-index: 2;
}